<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607434850870-at1r66gnjhorptn40b9tonogtjmkae5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607434850870-at1r66gnjhorptn40b9tonogtjmkae5a</string>
	<key>API_KEY</key>
	<string>AIzaSyAWPP9j49A8SZL9K1XY_uVgtIK_Sd1nyYw</string>
	<key>GCM_SENDER_ID</key>
	<string>607434850870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qTest</string>
	<key>PROJECT_ID</key>
	<string>qtest-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>qtest-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607434850870:ios:fdb603c7a38522bb138e97</string>
</dict>
</plist>