<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215856528745-7o8lvmg1shf1gdlk3pcmaq4ttq39hih8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215856528745-7o8lvmg1shf1gdlk3pcmaq4ttq39hih8</string>
	<key>API_KEY</key>
	<string>AIzaSyBh9Z5QJA1sqtVOk8XbNrZt1Cn8VXtgaHs</string>
	<key>GCM_SENDER_ID</key>
	<string>215856528745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qTest</string>
	<key>PROJECT_ID</key>
	<string>qtest-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>qtest-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215856528745:ios:0154b801adc8ae17d451f8</string>
</dict>
</plist>